<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gamebg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{896,640}</string>
                <key>spriteSourceSize</key>
                <string>{896,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{896,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,77}</string>
                <key>spriteSourceSize</key>
                <string>{82,77}</string>
                <key>textureRect</key>
                <string>{{899,89},{82,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,103}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{899,1},{86,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>assets.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d141b4b1754156daeb2559df538e581:969c84b4b6e9e9e6c2d2ae184f2e8565:83e187547237f094a69bacbb86d8af03$</string>
            <key>textureFileName</key>
            <string>assets.png</string>
        </dict>
    </dict>
</plist>
