<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gamebg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1136,640}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{1136,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,77}</string>
                <key>spriteSourceSize</key>
                <string>{82,77}</string>
                <key>textureRect</key>
                <string>{{748,1},{82,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,103}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{643,1},{86,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>assets.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ef52f895a104f4975deef14bec1bed9:196eaad0e0db6f5f796452ed3435d3b7:83e187547237f094a69bacbb86d8af03$</string>
            <key>textureFileName</key>
            <string>assets.png</string>
        </dict>
    </dict>
</plist>
