<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gamebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1136,640}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{1136,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,77}</string>
                <key>spriteSourceSize</key>
                <string>{82,77}</string>
                <key>textureRect</key>
                <string>{{1139,106},{82,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,103}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{1139,1},{86,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>assets.png</string>
            <key>size</key>
            <string>{1226,642}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b6575b7251afeb46938b2330883f8cf:8320d7fd4c20b53621e2b8ab598b1c29:83e187547237f094a69bacbb86d8af03$</string>
            <key>textureFileName</key>
            <string>assets.png</string>
        </dict>
    </dict>
</plist>
